{% extends "wrapper.html" %}
{% block context_index %}
<div class="container">
    <div class="wrapper_article_form">
        <form action="{% url 'main_app:add_article' %}" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title">
            <textarea name="context" id="" cols="30" rows="10" placeholder="Context"></textarea>
            <input type="file" placeholder="Image" name="image" id="upload_img">
            <label for="upload_img"><i class="fa-solid fa-upload"></i> Upload Image</label>
            <select name="category" id="" class="select_add_article">
                <option selected disabled>Category</option>
                {% for i in categoryes %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>
            <select name="tag" id="">
                <option selected disabled>Select tag</option>
                {% for i in tags %}
                <option value="{{ i.id }}">{{i.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock context_index %}