{% extends "wrapper.html" %}
{% block context_index %}
<div class="container">
    <div class="main_article_wrapper">
        <div class="image_title_wrapper">
            <div class="detail_article_image">
                <img src="{{article.imahe}}" alt="">
            </div>
            <div class="detail_article_title">
                <div class="article_title_block"></div>
                <div class="article_information_block"></div>
            </div>
        </div>
        <div class="main_content_block">

        </div>
    </div>
</div>
{% endblock context_index %}