{% extends "wrapper.html" %}
{% block context_index %}
<div class="container">
    <div class="blog_card_wrapper">

        {% for i in article %}
        <div class="card card_{{ i.tag }}">
            <div class="image_block" this_block_image="{{i.image.url}}">
                <div class="author">
                    <p><i class="fa-solid fa-user"></i> {{i.author}}</p>
                </div>
            </div>

            <div class="context_block">
                <div class="title">
                    <p>{{ i.title }}</p>
                </div>
                <div class="main_idea">
                    <p>{{ i.content}}</p>
                </div>
                <div class="like_comment_wrapper_block">
                    <div class="like"><i class="fa-regular fa-heart"></i>
                        <p>{{i.likes}}</p>
                    </div>
                    <div class="comment"><i class="fa-regular fa-comment"></i>
                        <p>{{i.comments}}</p>
                    </div>
                    <div class="views"><i class="fa-solid fa-eye"></i>
                        <p>{{i.views}}</p>
                    </div>
                </div>
                <button class="btn_main">Read more</button>
            </div>

        </div>
        {% endfor %}

    </div>
</div>
{% endblock context_index %}
<!--  -->