<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>First lesson</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo">
                    <a href="/">
                        <h2 class="logo_nav_block"><i class="fa-solid fa-earth-americas"></i> BLOG</h2>
                    </a>
                </div>
                <div class="nav_menu">
                    <ul>
                        <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'main_app:admin_panel' %}"><i class="fa-solid fa-user"></i> Admin Panel</a>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'account:logout' %}" onclick="header_modal(confirm_block_for_logout)" >
                                <i class="fa-solid fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a style="cursor: pointer;" href="{% url 'account:login_method' %}">
                                <i class="fa-solid fa-sign-in-alt"></i> Login
                            </a>
                        </li>
                        {% endif %}
                        <li class="category_btn"><i class="fa-solid fa-list"></i> Categories</li>
                        <li class="tags_btn logo_nav_block"><i class="fa-solid fa-circle"></i> Tags</li>
                        <li class="logo_nav_block search_btn_nav" onclick="header_modal(search_block)"><i
                                class="fa-solid fa-magnifying-glass"></i> Search
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="only_header" style="height: 100px;"></div>
    {% if messages %}
    {% for message in messages %}
    <div class="message_{{ message.tags }} message">
        <p>
            {% if message.tags == "success" %}
            <i class="fa-solid fa-circle-check"></i>
            {% elif message.tags == "info" %}
            <i class="fa-solid fa-circle-info"></i>
            {% else %}
            <i class="fa-solid fa-circle-exclamation"></i>
            {% endif %}
            {{ message }}
        </p>
        <button onclick="this.parentNode.style.display = 'none';"><i class="fa-solid fa-xmark-square"></i></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="category_list">
        <div class="list_wrapper">
            <div class="categories_text_wrapper">
            </div>
            <div class="category_nav_btn_wrapper category_btn">
                <p><i class="fa-solid fa-chevron-up"></i></p>
            </div>
        </div>
    </div>
    <div class="tags_list">
        <div class="tags_wrapper">
            <div class="tags_text_wrapper">
            </div>
            <div class="tags_nav_btn_wrapper tags_btn">
                <p><i class="fa-solid fa-chevron-up"></i></p>
            </div>
        </div>
    </div>
    <div class="search_block" id="search_block">
        <div class="search_input_wrapper">
            <div>
                <form action="{% url 'main_app:search' %}" method="get">
                    <input type="text" name="search" placeholder="Search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="result_block">
                </div>
            </div>
            <div class="search_back_btn search_btn_nav" onclick="header_modal(search_block)"><i
                    class="fa-solid fa-chevron-up"></i></div>
        </div>
    </div>
    <div class="search_block" id="confirm_block_for_logout">
        <div class="search_input_wrapper">
            <div>
                <div>
                    <p>Are you sure you want to exit?
                    </p>
                </div>
            </div>
            <div style="width: 250px; display: flex; justify-content: space-between;">
                <div class="search_back_btn search_btn_nav" style="width: 48% !important;"> <a
                        href="{% url 'account:logout' %}"> Yes </a></div>
                <div class="search_back_btn search_btn_nav" style="width: 48% !important;"
                    onclick="header_modal(confirm_block_for_logout)"></i>No
                </div>
            </div>
        </div>
    </div>
    <div class="btn_for_back"></div>
    {% block context_index %}
    {% endblock context_index %}
    <script src="{% static 'js/header_methods.js' %}"></script>
</body>

</html>