<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>Info</title>
</head>

<body>
    <div class="bg_decoration_dot"></div>
    <div class="container">
        <section>
            <header>
                <nav>
                    <div class="logo">
                        <a href="/">
                            <img src="../media/header/logo.png" alt="">
                        </a>
                    </div>
                    <div class="nav_context_wrapper" id="nav">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/">Our Team</a>
                            </li>
                            <li>
                                <a href="/">About</a>
                            </li>
                            <li>
                                <a href="/">Contact</a>
                            </li>
                            <li class="nav_btn btn_in_nav"
                                onclick="add_class_toggler(nav , 'nav_context_wrapper_active')">
                                &times;
                            </li>
                        </ul>
                    </div>
                    <p class="nav_btn" onclick="add_class_toggler(nav , 'nav_context_wrapper_active')">
                        Menu
                    </p>
                </nav>
            </header>
            <div style="height: 100px;"></div>
            <div class="banner">
                <div class="banner_context_block">
                    <div class="banner_title">
                        <h1>INFOSPHERE</h1>
                    </div>
                    <div class="banner_subtitle">
                        <p>
                            In this web site you will find information about our company and services
                        </p>
                    </div>
                    <div class="banner_main_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi debitis quaerat doloribus magni unde, illum voluptatem esse autem consequuntur ea, aliquid odit voluptas omnis quia inventore dolorem?
                        </p>
                    </div>
                    <div class="banner_btn_wrapper">
                        <a href="/" class="banner_btn">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>