<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>Info</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo"></div>
                <div class="nav_context_wrapper">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Our Team</a>
                        </li>
                        <li>
                            <a href="/">About</a>
                        </li>
                        <li>
                            <a href="/">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero optio necessitatibus asperiores architecto vel
            sequi voluptate ipsa, beatae nostrum magnam voluptas odio in animi. Ex aut in voluptates inventore ratione?
        </p>

        <div class="box">
            <h1>
                lorem
            </h1>
            <p>Fugiat enim minus, doloribus nihil debitis iusto ut dolor facere est. Officia perferendis placeat dolorem
                deleniti dignissimos at ea deserunt numquam et.
            </p>
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>