<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <title>Info</title>
</head>

<body>
    <div class="bg_decoration_dot class_for_set_attribute"></div>
    <div class="center_decoration class_for_set_attribute"></div>
    <div class="container">
        <section>
            <header>
                <nav>
                    <div class="logo">
                        <a href="/">
                            <img src="../media/header/logo.png" alt="">
                        </a>
                    </div>
                    <div class="nav_context_wrapper" id="nav">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/">Our Team</a>
                            </li>
                            <li>
                                <a href="/">About</a>
                            </li>
                            <li>
                                <a href="/">Contact</a>
                            </li>
                            <li class="nav_btn btn_in_nav"
                                onclick="add_class_toggler(nav , 'nav_context_wrapper_active')">
                                &times;
                            </li>
                        </ul>
                    </div>
                    <p class="nav_btn" onclick="add_class_toggler(nav , 'nav_context_wrapper_active')">
                        Menu
                    </p>
                </nav>
            </header>
            <div style="height: 100px;"></div>
            <div class="banner">
                <div class="banner_context_block">
                    <div class="banner_title">
                        <h1>INFOSPHERE</h1>
                    </div>
                    <div class="banner_subtitle">
                        <p>
                            In this web site you will find information about our company and services
                        </p>
                    </div>
                    <div class="banner_main_content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi debitis
                            quaerat doloribus magni unde, illum voluptatem esse autem consequuntur ea, aliquid odit
                            voluptas omnis quia inventore dolorem?
                        </p>
                    </div>
                    <div class="banner_btn_wrapper">
                        <a href="/" class="banner_btn">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="banner_image">
                    <img src="../media/header/banner.jpg" alt="">
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section>
            <div class="about_us_section">
                <div class="about_title">
                    <div class="about_title_image">
                        <img src="../media/header/building_for_about_section.jpg" alt="">
                    </div>
                    <div class="about_title_content">
                        <h1>
                            About Us
                        </h1>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi debitis
                            quaerat doloribus magni unde, illum voluptatem esse autem consequuntur ea, aliquid odit
                            voluptas omnis quia inventore dolorem?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi debitis
                            quaerat doloribus magni unde, illum voluptatem esse autem consequuntur ea, aliquid odit
                            voluptas omnis quia inventore dolorem?
                        </p>
                    </div>
                </div>
                <div class="about_main_text">
                    <div class="about_text_block">
                        <h2>
                            Our Mission
                        </h2>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi
                            debitis quaerat doloribus magni unde, illum voluptatem esse autem consequuntur ea,
                            aliquid odit voluptas omnis quia inventore dolorem?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi
                            debitis quaerat doloribus magni unde, illum voluptatem esse autem consequuntur ea,
                            aliquid odit voluptas omnis quia inventore dolorem?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, minus! Animi nisi
                            debitis quaerat doloribus magni unde,
                            illum voluptatem esse autem consequuntur ea, aliquid odit voluptas omnis quia inventore
                            dolorem?
                        </p>
                    </div>
                    <div class="about_info_block">
                        <div class="about_box">
                            <p>Products</p>
                            <h1>
                                150+
                            </h1>
                        </div>
                        <div class="about_box">
                            <p>Clients</p>
                            <h1>
                                100+
                            </h1>
                        </div>
                        <div class="about_box">
                            <p>Satisfied Clients</p>
                            <h1>
                                90+
                            </h1>
                        </div>
                        <div class="about_box">
                            <p>Years of Experience</p>
                            <h1>
                                10+
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="cards_wrapper">
                <div class="card">
                    <div class="card_title">
                        <div class="card_image"></div>
                        <div class="employee_name">
                            <h3>Azizbek</h3>
                            <p>Senior</p>
                        </div>
                    </div>
                    <div class="employee_full_info">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae commodi, iste quibusdam,
                            sint facilis est unde
                            temporibus magni incidunt eos suscipit exercitationem sapiente sequi, quisquam rerum
                            similique maiores neque sunt.
                            Asperiores incidunt consequatur optio aspernatur, provident natus repudiandae eveniet
                            dolorem. Debitis deleniti
                            excepturi aut ducimus voluptatem esse quod, deserunt unde est, aspernatur similique
                            reiciendis quis minus laborum
                            voluptate sequi qui!
                            Necessitatibus nemo, et cum ab vitae nam ratione blanditiis. Ad repudiandae rerum, ut
                            mollitia corrupti ipsam
                            sapiente nisi dolore soluta tempora, hic aliquam aut delectus similique itaque neque,
                            nihil ipsa?
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_title">
                        <div class="card_image"></div>
                        <div class="employee_name">
                            <h3>Azizbek</h3>
                            <p>Senior</p>
                        </div>
                    </div>
                    <div class="employee_full_info">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae commodi, iste quibusdam,
                            sint facilis est unde
                            temporibus magni incidunt eos suscipit exercitationem sapiente sequi, quisquam rerum
                            similique maiores neque sunt.
                            Asperiores incidunt consequatur optio aspernatur, provident natus repudiandae eveniet
                            dolorem. Debitis deleniti
                            excepturi aut ducimus voluptatem esse quod, deserunt unde est, aspernatur similique
                            reiciendis quis minus laborum
                            voluptate sequi qui!
                            Necessitatibus nemo, et cum ab vitae nam ratione blanditiis. Ad repudiandae rerum, ut
                            mollitia corrupti ipsam
                            sapiente nisi dolore soluta tempora, hic aliquam aut delectus similique itaque neque,
                            nihil ipsa?
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_title">
                        <div class="card_image"></div>
                        <div class="employee_name">
                            <h3>Azizbek</h3>
                            <p>Senior</p>
                        </div>
                    </div>
                    <div class="employee_full_info">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae commodi, iste quibusdam,
                            sint facilis est unde
                            temporibus magni incidunt eos suscipit exercitationem sapiente sequi, quisquam rerum
                            similique maiores neque sunt.
                            Asperiores incidunt consequatur optio aspernatur, provident natus repudiandae eveniet
                            dolorem. Debitis deleniti
                            excepturi aut ducimus voluptatem esse quod, deserunt unde est, aspernatur similique
                            reiciendis quis minus laborum
                            voluptate sequi qui!
                            Necessitatibus nemo, et cum ab vitae nam ratione blanditiis. Ad repudiandae rerum, ut
                            mollitia corrupti ipsam
                            sapiente nisi dolore soluta tempora, hic aliquam aut delectus similique itaque neque,
                            nihil ipsa?
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_title">
                        <div class="card_image"></div>
                        <div class="employee_name">
                            <h3>Azizbek</h3>
                            <p>Senior</p>
                        </div>
                    </div>
                    <div class="employee_full_info">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae commodi, iste quibusdam,
                            sint facilis est unde
                            temporibus magni incidunt eos suscipit exercitationem sapiente sequi, quisquam rerum
                            similique maiores neque sunt.
                            Asperiores incidunt consequatur optio aspernatur, provident natus repudiandae eveniet
                            dolorem. Debitis deleniti
                            excepturi aut ducimus voluptatem esse quod, deserunt unde est, aspernatur similique
                            reiciendis quis minus laborum
                            voluptate sequi qui!
                            Necessitatibus nemo, et cum ab vitae nam ratione blanditiis. Ad repudiandae rerum, ut
                            mollitia corrupti ipsam
                            sapiente nisi dolore soluta tempora, hic aliquam aut delectus similique itaque neque,
                            nihil ipsa?
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_title">
                        <div class="card_image"></div>
                        <div class="employee_name">
                            <h3>Azizbek</h3>
                            <p>Senior</p>
                        </div>
                    </div>
                    <div class="employee_full_info">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae commodi, iste quibusdam,
                            sint facilis est unde
                            temporibus magni incidunt eos suscipit exercitationem sapiente sequi, quisquam rerum
                            similique maiores neque sunt.
                            Asperiores incidunt consequatur optio aspernatur, provident natus repudiandae eveniet
                            dolorem. Debitis deleniti
                            excepturi aut ducimus voluptatem esse quod, deserunt unde est, aspernatur similique
                            reiciendis quis minus laborum
                            voluptate sequi qui!
                            Necessitatibus nemo, et cum ab vitae nam ratione blanditiis. Ad repudiandae rerum, ut
                            mollitia corrupti ipsam
                            sapiente nisi dolore soluta tempora, hic aliquam aut delectus similique itaque neque,
                            nihil ipsa?
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>