<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registrate</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="message_{{ message.tags }} message" style="position: absolute;">
        <p>
            {% if message.tags == "success" %}
            <i class="fa-solid fa-circle-check"></i>
            {% elif message.tags == "info" %}
            <i class="fa-solid fa-circle-info"></i>
            {% else %}
            <i class="fa-solid fa-circle-exclamation"></i>
            {% endif %}
            {{ message }}
        </p>
        <button onclick="this.parentNode.style.display = 'none';"><i class="fa-solid fa-xmark-square"></i></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="form_wrapper">
        <div class="table_btn">
            <button onclick="form_tab_method()" class="btn_tab">
                Sing up
            </button>
        </div>
        <div class="login_wrapper">
            <h1 style="position: absolute; top: 10px; right: 10px;">Login</h1>
            <form action="{% url 'account:login' %}" method="POST">
                {% csrf_token %}
                <div>
                    <p>user name</p>
                    <br>
                    <input type="text" name="username" class="user_name_input" id="user_name" minlength="6" required
                    maxlength="20">
                    <p class="check_user_name"><span class="icon_wrapper_user_name"><i
                        class="fa-solid fa-pen"></i></span><span>Write your user name</span></p>
                </div>
                <div>
                    <p>Password</p>
                    <br>
                    <input type="password" name="password" id="password" required minlength="5" maxlength="30"
                    class="pas_input">
                    <div class="progress_to_password" style="opacity: 0;">
                        <p class="progress_vizualization"></p>
                    </div>
                </div>
                <div>
                    <p onclick="form_tab_method()" class="request_to_accunt">
                        --If you have not account--
                    </p>
                    <input type="button" onclick="validateForm(this, user_name.value, password.value)" value="Submit"
                        class="login_sub_btn">
                </div>
            </form>
        </div>
        <div class="sign_up" style="display: none;">
            <h1 style="position: absolute; top: 10px; right: 10px;">Sign Up</h1>
            <form action="{% url 'account:register' %}" method="POST">
                {% csrf_token %}
                <div class="main_wrapper_input">
                    <div>
                        <p>user name</p>
                        <input type="text" name="username" class="user_name_input" minlength="6" required
                            maxlength="20">
                        <p class="check_user_name"><span class="icon_wrapper_user_name"><i
                                    class="fa-solid fa-pen"></i></span><span>Write
                                your user name</span></p>
                    </div>
                    <div>
                        <p>Email</p>
                        <input type="email" name="email" required minlength="5">
                    </div>
                </div>
                <div class="main_wrapper_input">
                    <div>
                        <p>Password</p>
                        <input type="password" name="password" required minlength="5" maxlength="30" class="pas_input">
                        <span class="progress_to_password" style="opacity: 0;">
                            <p class="progress_vizualization"></p>
                        </span>
                    </div>
                    <div>
                        <p>Password Again</p>
                        <input type="password" name="password_confirm" required minlength="5">
                    </div>
                </div>
                <div>
                    <p onclick="form_tab_method()" class="request_to_accunt">
                        -- Do you have already account --
                    </p>
                    <input type="button"
                        onclick="validateForm(this, username.value, email.value, password.value, password_confirm.value)"
                        value="Submit" class="login_sub_btn">
                </div>

            </form>
        </div>

    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>

</html>