@font-face {
  font-family: "font_name";
  src: url("../font/Nunito-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'font_name';
  text-decoration: none;
  list-style: none;
  color: white;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #2c6672a1;
  border-radius: 10px;
}
body {
  background:linear-gradient(45deg , #002548 , #000000) ;
  color: white;
}
.container {
  width: 1200px;
  height: auto;
  margin: 0px auto;
}
header {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right , #03184e79 , #3c223e79);
  backdrop-filter: blur(10px);
  position: fixed;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 99 !important;
}

.header_block {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_nav_block,
.category_btn,
.search_btn_nav {
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background:linear-gradient(-45deg , #3c002174 , #00160b74) ;
  cursor: pointer;
}
.nav_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.search_btn_nav:hover,
.category_btn:hover,
.tags_btn:hover {
  border-color: #2c6672a1;
  background-color: #086576a1;
}
.category_list,
.tags_list {
  width: 100%;
  min-height: 100px;
  transform: translateY(-500px);
  transition: 0.3s;
  position: fixed;
  background-color: #1321237a;
  backdrop-filter: blur(10px);
  z-index: 999 !important;
}
.active_category_list,
.active_tags_list {
  transform: translateY(-100px);
}
.list_wrapper,
.tags_wrapper {
  width: 1200px;
  min-height: 100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category_nav_btn_wrapper,
.tags_nav_btn_wrapper,
.search_back_btn {
  width: 50px;
  height: 50px;
  border: 1px solid #2c6672a1;
  border-radius: 8px;
  font-size: 1.2em;
  background-color: #223a3e79;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.categories_text_wrapper,
.tags_text_wrapper {
  width: 90%;
  min-height: 100px;
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}
.categories_text_wrapper a,
.tags_text_wrapper a {
  font-size: 1.2em;
  font-weight: 600;
  border: 1px solid #2c6672a1;
  background-color: #223a3e79;
  padding: 5px 20px;
  border-radius: 5px;
}
.main_tag_block {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border: 1px solid #2c6672a1;
  border-radius: 10px;
}

.search_block {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  transform: translateY(-500px);
  background-color: #0c3b44a1;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  z-index: 999 !important;
}
.search_block form {
  width: 300px;
  height: 40px;
  border: 1px solid #2c6672a1;
  border-radius: 10px;
  background-color: #1321237a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.search_block input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.search_block button {
  width: 10%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1.2em;
  cursor: pointer;
}
.search_input_wrapper {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active_search_block {
  transform: translateY(-100px);
}
.account{
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image_for_account{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:linear-gradient(45deg , #452151 , #123041) ;
}
.blog_card_wrapper {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.image_block {
  width: 100%;
  height: 150px;
  border: 1px solid #132123;
  border-radius: 5px;
  background:linear-gradient(45deg , #000000 , #090919) ;
  position: relative;
  overflow: hidden;
}
.author {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  margin-top: 7px;
  transform: translateX(-250px);
  transition: 0.3s;
  background-color: #2c667266;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  padding: 10px 25px;
  border: 1px solid #132123;
}
.card {
  height: 370px;
  border: 1px solid #2c6672a1;
  border-radius: 10px;
  padding: 10px;
  background:linear-gradient(45deg , #000c17 , #110016) ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card_Blue {
  border: 1px solid #5d779bce !important;
  box-shadow: 0px 0px 10px #5d779b54;
}
.card_Red {
  border: 2px solid #722c2c66 !important;
  box-shadow: 0px 0px 10px #722c2c8f;
}
.card_Yellow {
  border: 2px solid #9b9b5dce !important;
  box-shadow: 0px 0px 10px #9b9b5d54;
}
.card_Green {
  border: 2px solid #5d9b7ace !important;
  box-shadow: 0px 0px 10px #5d9b7a54;
}
.context_block {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.context_block button {
  border: 1px solid #132123;
  outline: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}
.main_idea {
  font-size: 0.9em;
}
.like_comment_wrapper_block {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like_comment_wrapper_block div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.like_comment_wrapper_block div p {
  font-size: 12px;
}
.result_block {
  width: 300px;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  background-color: #132123;
  border: 1px solid #2c6672a1;
  border-radius: 10px;
  margin-top: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.result_block .result_wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.result_block .result_wrapper:hover {
  background-color: #2c667266;
}
.article_not_found {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.main_article_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  border: 1px solid #223a3e79;
  padding: 10px;
  border-radius: 10px;
}
.image_title_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail_article_image {
  width: 200px;
  height: 100%;
  border: 1px solid #2c667266;
  border-radius: 10px;
}
.detail_article_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.detail_article_title {
  width: 82%;
  height: 100%;
  border: 1px solid #2c667266;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main_content_block {
  width: 100%;
  height: auto;
  min-height: 250px;
  border: 1px solid #2c667266;
  border-radius: 10px;
  padding: 10px;
}
.article_title_block {
  height: 120px;
  border: 1px solid #2c667266;
  border-radius: 5px;
  padding: 10px;
}
.article_information_block {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #2c667266;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.article_author {
  background: #2c667266;
  border-radius: 5px;
  padding: 7px;
}
.article_information_block div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.add_comment {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #2c667266;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  transition: 0.5s;
  overflow: hidden;
}
.add_comment h3 {
  cursor: pointer;
}
.comment_form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.comment_form input {
  height: 50px;
  border: 1px solid #2c667266;
  background-color: transparent;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.comment_form input:first-child {
  width: 97%;
}
.active_comment_block {
  height: 140px;
  gap: 10px;
  align-items: flex-start;
  word-wrap: break-word;
}
.comment_wrapper {
  width: 1200px;
  height: auto;
  margin: 20px 0px;
  padding: 10px;
  border: 1px solid #2c667266;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.comment {
  padding: 10px;
  max-width: 100%;
  border: 1px solid #ffffff66;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  gap: 10px;
}
.comment_date {
  border-top: 1px solid #2c667266;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  word-wrap: break-word;
}
.comment_info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em !important;
}
