@import url(./constants.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ROBOTO";
    list-style: none;
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s;
}
body{
    background: var(--bg_gradient);
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
.container{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
section{
    width: 100%;
    height: auto;
    padding: var(--large-distance) 0;
}
header{
    max-width: 1200px;
    width: 100%;
    height: 100px;
    background: var(--dark_blue_opacity);
    border: 2px solid var(--dark_blue);
    position: fixed;
    border-radius: 20px;
    backdrop-filter: blur(var(--xx-small-distance));
    margin: 0px auto;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--medium-distance);
    transition: 0.3s;
}
.logo{
    width: 100px;
    height: 70px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_context_wrapper ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--large-distance);
}
.nav_btn{
    border: 1px solid var(--white);
    padding: 10px 20px;
    border-radius: var(--small_font_size);
    cursor: pointer;
    display: none;
}
.btn_in_nav{
    position: absolute;
    top: var(--xx-small-distance);
    right: var(--xx-small-distance);
    font-size: var(--large_font_size);
    padding: 3px 10px;
    border-radius: var(--x-small-distance);
}
.nav_context_wrapper a{
    position: relative;
}
.nav_context_wrapper a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--light_blue);
    transition: 0.3s;
}
.nav_context_wrapper a:hover::before{
    width: 100%;
}
.banner_image{
    width: 100%;
    height: 100vh;
}
.bg_decoration_dot{
    width: 350px;
    height: 350px;
    background-color: var(--dark_blue_opacity);
    filter: blur(100px);
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: -1;
}