@font-face {
    font-family: 'new_font_style';
    src: url(../font/roboto_regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'new_font_style';
    color: white;
}
.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
section{
    width: 100%;
    height: 700px;
}